body {
  background-color: #E3E3E3;
}
main {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 1em;
  margin: 2em auto;
  background-color: white;
  max-width: 70vw;
  border-radius: 20px;
}
form {
  display: flex;
  flex-direction: column;
  justify-self: center;
}
section{
background-color: #EEEEEE;
border-top-left-radius: 20px;
border-bottom-left-radius: 20px;
}
form button {
  margin-top: 1em;
}
section img{
 width: 100%;
}